---
layout: default
---

<section class="call-to-action-home" id="home-section">
  <div class="container">
    <div class="row clearfix call-to-action-home-content">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>
          Supercharge Your Customer Retention
        </h1>
        <h3 style="line-height: 1.3em">
          <strong>One Click </strong>
          dramatically improves repeat business
        </h3>
        <p>
          <a class="btn btn-primary btn-lg" href="#pricing-section" id="pricing-link">
            View Pricing &amp; Sign Up
            <br/>
            <small>
              No Installation Required
            </small>
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="div-center">
          <%= image_tag("ipad-portrait.png", class: "img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="row clearfix">
      <div class="feature-box col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Automatic Fixes</h5>
        <p>
          Common billing issues are addressed
          <strong>proactively</strong>
          and
          <strong>automatically</strong>
          with customizable emails.
        </p>
      </div>
      <div class="feature-box col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Built In Followup</h5>
        <p>
          Purpose-built CRM
          <strong>supercharges</strong>
          followup and
          <strong>tracks results</strong>
          for continued improvement.
        </p>
      </div>
      <div class="feature-box feature-box-last col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Custom Incentives </h5>
        <p>
          <strong>Maximize </strong>
          repeat business with
          data-driven loyalty bonuses.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="services-section">
  <div class="container">
    <div class="row clearfix">
      <h2 class="section-subtitle services-subtitle">
        The tools you need for
        <%= succeed "." do %>
          <strong>outstanding customer retention</strong>
        <% end %>
      </h2>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="service-box clearfix col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="square">
            <%= image_tag("icons/desktop.png", class: "img-responsive") %>
          </div>
          <h2>Improve And Track</h2>
          <p>
            Lowers your churn rate
            <strong>automatically</strong>
            to unlock growth.
          </p>
        </div>
        <div class="service-box clearfix col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="square">
            <%= image_tag("icons/atom.png", class: "img-responsive") %>
          </div>
          <h2>Customizable Incentives</h2>
          <p>
            Offer custom discounts, add-ons, or prizes for repeat buyers or subscription renewals
          </p>
        </div>
        <div class="service-box clearfix col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="square">
            <%= image_tag("icons/credit-card.png", class: "img-responsive") %>
          </div>
          <h2>Repeat Business</h2>
          <p>
            Reach out to your customers at important times. Give them the opportunity to buy from you again
          </p>
        </div>
        <div class="service-box clearfix col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="square">
            <%= image_tag("icons/brush.png", class: "img-responsive") %>
          </div>
          <h2>Instant Setup</h2>
          <p>
            There's no code to install, so you can get started improving your checkout
            in just a few seconds.
          </p>
          <p>
            <%= link_to "Get Started Now", '#pricing-section', class: "btn btn-sm btn-success" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials-section">
  <div class="container">
    <div class="row clearfix">
      <h2 style="text-align: center; font-size: 3em;">What They're Saying</h2>
      <div class="carousel slide carousel-fade" id="carousel_fade_testimonials">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel_fade_testimonials"></li>
          <li data-slide-to="1" data-target="#carousel_fade_testimonials"></li>
          <li data-slide-to="2" data-target="#carousel_fade_testimonials"></li>
        </ol>
        <div class="carousel-inner">
          <div class="active item">
            <div class="testimonial">
              <p>
                "Remindery is probably going to make us $4million this year. I can't be sure, since it's not launched yet, and I'm a made up person.""
              </p>
              <h3>Douglas Forsythe-Jones</h3>
              <h4>
                <small>
                  <a class="website" href="#">The New Yorker Times</a>
                </small>
              </h4>
            </div>
          </div>
          <div class="inactive item">
            <div class="testimonial">
              <p>
                "Honey, I am just so proud of your for working so hard. You can do anything you set your mind to."
              </p>
              <h3>Elizabeth Evans</h3>
              <h4>
                <small>
                  <a class="website" href="#">Mom</a>
                </small>
              </h4>
            </div>
          </div>
          <div class="inactive item">
            <div class="testimonial">
              <p>
                "I'm incredibly happy I bought this."
              </p>
              <h3>Konstantin Helleman</h3>
              <h4>
                <small>
                  <a class="website" href="#">Sears, Roebuck &amp; Co.</a>
                </small>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="integrations-section">
  <div class="container">
    <div class="row clearfix">
      <h2 class="section-subtitle services-subtitle">
        One Click Integration With These Leading Partners
      </h2>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= image_tag "logo-stripe.png" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= image_tag "logo-shopify.png", style: 'padding-top: 30px' %>
      </div>
    </div>
    <div class="row clearfix">
      <h2>More coming soon</h2>
    </div>
  </div>
</section>
<section id="pricing-section">
  <%= render "shared/pricing_grid" %>
</section>
<section id="faq-section">
  <%= render "faq" %>
</section>
<section id="contact-section">
  <div class="container">
    <div class="row clearfix">
      <h2 class="section-subtitle">
        Got Questions? Email
        <%= mail_to "hello@remindery.net" %>
        We'll get back to you right away.
      </h2>
      <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel_slide_contact">
        <!-- Wrapper for slides
        -->
        <div class="carousel-inner">
          <div class="item active">
            <!-- .contact-form
            -->
            <div class="contact-form">
              <div class="contact-form-box">
                <form id="ajax-contacts">
                  <div class="message-contact-box">
                    <div id="message-contact"></div>
                  </div>
                  <fieldset>
                    <div class="form-group col-lg-12">
                      <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control" name="name" placeholder="Your Name" type="text">/</input>
                      </div>
                      <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control" name="email" placeholder="Your E-Mail" type="text">/</input>
                      </div>
                      <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control" name="subject" placeholder="Message Subject" type="text">/</input>
                      </div>
                      <textarea class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12" cols="25" name="message" placeholder="Leave Your Message" rows="4"></textarea>
                      <div class="div-center clearfix">
                        <input class="btn btn-custom-2 btn-lg btn-block" id="send-contact" name="submit" type="submit" value="Send Message">/</input>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <!-- /.contact-form
            -->
          </div>
          <!-- End Item
          -->
        </div>
      </div>
    </div>
  </div>
</section>

