<div class="container">
  <div class="row clearfix">
    <h2 style="text-align: center; padding-bottom: 40px;">
      Frequently Asked
      <strong>Questions</strong>
    </h2>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-parent="#accordion" data-toggle="collapse" href="#faq-1">
              <h3 class="panel-title">
                Will it work for my business model?
                <span class="pull-right faq-icon-collapse">
                  <i class="glyphicon glyphicon-plus"></i>
                </span>
              </h3>
            </a>
          </div>
          <div class="panel-collapse collapse in" id="faq-1">
            <div class="panel-body">
              <p>
                Remindery works with
                <strong>any</strong>
                kind of online business. Subscription services, infoproducts, physical retail sales, digital downloads, recurring payments, or even preorders.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-parent="#accordion" data-toggle="collapse" href="#faq-2">
              <h3 class="panel-title">
                What's the commitment?
                <span class="pull-right faq-icon-collapse">
                  <i class="glyphicon glyphicon-plus"></i>
                </span>
              </h3>
            </a>
          </div>
          <div class="panel-collapse collapse" id="faq-2">
            <div class="panel-body">
              <p>
                No commitment. Remindery is a month-to-month subscription. You can upgrade, downgrade, or cancel your plan at any time.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-parent="#accordion" data-toggle="collapse" href="#faq-3">
              <h3 class="panel-title">
                I need to pay by check. Can you invoice me?
                <span class="pull-right faq-icon-collapse">
                  <i class="glyphicon glyphicon-plus"></i>
                </span>
              </h3>
            </a>
          </div>
          <div class="panel-collapse collapse" id="faq-3">
            <div class="panel-body">
              <p>
                We can invoice large stores who subscribe to a yearly plan. Contact us at hello@remindery.net to arrange this. All monthly plans must be paid by credit card.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-parent="#accordion" data-toggle="collapse" href="#faq-4">
              <h3 class="panel-title">
                I have a question that's not answered here
                <span class="pull-right faq-icon-collapse">
                  <i class="glyphicon glyphicon-plus"></i>
                </span>
              </h3>
            </a>
          </div>
          <div class="panel-collapse collapse" id="faq-4">
            <div class="panel-body">
              <p>
                Shoot us an email! We're delighted to talk with you.
              </p>
              <p><a href="mailto:hello@remindery.net">hello@remindery.net</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
