<footer>
  <div class="row clearfix">
    <div class="footer-copyright col-lg-12">
      <ul class="list-unstyled list-inline">
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
      <p class="copyright">
        Remindery
        © 2014. Product of
        <a href="http://www.awesome-software.net" target="_blank">Awesome Software</a>
      </p>
    </div>
  </div>
</footer>