<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar" class="{{ page_type }}">
    <div class="container" id="main_container">
      {% include navigation.html %}
      {{ content }}
      <a class="to-top" href="#">
        <i class="fa fa-chevron-up"></i>
      </a>
      {% include footer.html %}

    </div>
    <script type="text/javascript" src="/js/application.min.js"></script>

  </body>
</html>
