<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar" class="post">
    <div class="container" id="main-container">
      {% include navigation.html %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <header class="post-header" style="padding-top: 80px;">
              <h1 class="post-title">{{ page.title }}</h1>
              <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
            </header>

            <article class="post-content">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                  {{ content }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                  <section class="post-sharing">
                    <h4>Share This Post</h4>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_email_large' displayText='Email'></span>
                  </section>
                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
      {% include footer.html %}

    </div>
    <script type="text/javascript" src="/js/application.min.js"></script>

  </body>
</html>
